[Desktop Entry]
Name=ytDownloader
Comment=Download videos and audios from YouTube and other sites
Exec=run.sh
Type=Application
Icon=io.github.paulsavluc_me.ytdn
Categories=Utility;
